# Ignore Visual Studio folder
.vs/

# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore temporary files
*.log
*.tmp

# Ignore IDE-specific files
*.VC.db
*.VC.VC.opendb